<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.5/phpunit.xsd"
         bootstrap="tests/bootstrap.php"
         colors="true"
         beStrictAboutTestsThatDoNotTestAnything="false"
         beStrictAboutOutputDuringTests="true"
         beStrictAboutTodoAnnotatedTests="false"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false"
         stopOnError="false"
         stopOnIncomplete="false"
         stopOnSkipped="false"
         stopOnRisky="false"
         failOnWarning="false"
         failOnRisky="false"
         failOnEmptyTestSuite="false"
         verbose="true">
    <testsuites>
        <testsuite name="Woo Multisite Manual Connector Test Suite">
            <directory suffix="Test.php">./tests/</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist addUncoveredFilesFromWhitelist="true" processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">./includes/</directory>
            <file>./woo-multisite-manual-connector.php</file>
        </whitelist>
    </filter>
    <logging>
        <log type="coverage-html" target="tests/coverage" lowUpperBound="35" highLowerBound="70"/>
        <log type="coverage-clover" target="tests/coverage.xml"/>
        <log type="junit" target="tests/junit.xml"/>
    </logging>
</phpunit> 